@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$rosa; // Fondo rosa
    padding: 5rem 0; // Padding altura 0 anchura


    h3, p { //Titulo
        text-align: center;
        color: v.$blanco;
    }
    .dia {
        text-transform: uppercase;
        margin: 5rem 0; // Margen 5 altura 0 anchura
    }
}

.escenarios-contenedor {
    @include m.tablet { // Si el tamaño es mayor al de tablet
        @include m.grid (2, 5rem); // Display grid de 2 columnas y 5 anchura
    }
    p {
        color: v.$negro;
    }
}

.escenario {
    padding-top: 2rem;

    p {
        &:after { //se utiliza para agregar contenido generado por CSS después del contenido del elemento seleccionado
            content: '';
            display: block; // Fija el texto en un bloque
            width: 20rem; // tamaño alto
            height: 10rem; // tamaño ancho
            background-size: 15rem; // tamaño del fondo
            background-repeat: no-repeat; // repetir el fondo: sin repeticion
            background-position: center center; //ubicar el fondo en el centro
            margin: 2rem auto 0 auto; // margen top 
        }
    }
}

.edm {
    .nombre-escenario:after {
        background-image: url(../img/icono_edm.png);
    }

}
.rock {
    .nombre-escenario:after {
        background-image: url(../img/icono_rock.png);
    }

}

.calendario {
    @include m.resetear-lista;
    li {
        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}

.bg-amarillo {
    background-color: v.$amarillo;

    li:nth-child(odd) {
        background-color: darken(v.$amarillo, 15%);
    }
}

.bg-verde {
    background-color: v.$verde;

    li:nth-child(odd) {
        background-color: darken(v.$verde, 10%);
    }
}